.header {
  width: 100%;
  height: auto;
  background-color: #5d55c4;
  margin-bottom: 24px;

  &-inner {
    height: 60px;
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #fff;
  }

  &-btns {
    display: flex;
    gap: 10px;
  }

  &-btn {
    width: 30px;
    height: 30px;
    background: #7269dc;
    border-radius: 50%;
  }
}
