.header {
  width: 420px;
  height: auto;
  z-index: 2;

  &-inner {
    height: 60px;
    padding: 0 var(--container-padding-horizontal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    backdrop-filter: blur(10px);
    // box-shadow: 0 4px 5px hsla(0, 0%, 10%, 0.05);
  }

  &-logo {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #fff;
  }

  &-btns {
    display: flex;
    gap: 10px;
  }

  &-btn {
    width: 32px;
    height: 32px;
    background-color: var(--color-primary);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: var(--color-hover);
    }

    &__plus {
      background-size: 15px;
      background-image: var(--icon-plus);
    }
    &__theme {
      background-size: 15px;
      background-image: var(--icon-theme);
    }
  }
}

[data-theme='dark'] {
  .header-btn__theme {
    background-size: 20px;
  }
}
