.timezone {
  position: relative;
  color: var(--color-font-timezone);
  width: 100%;
  margin: 0 0 10px;
  transition: all 0.3s ease-in-out;

  &-icon__setting {
    opacity: 0;
    position: absolute;
    display: block;
    width: 21px;
    height: 22px;
    background-image: url('/icons/icon-setting.svg');
    top: 4px;
    left: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: rotate(-90deg);
  }

  &:hover {
    transform: translateX(6px);

    .timezone-icon__setting {
      opacity: 1;
      transform: rotate(0deg);
    }
  }

  &-btn {
    position: absolute;
    top: 0px;
    left: -64px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;

    button {
      display: block;
      width: 56px;
      height: 57px;
      border: none;
      border-radius: 16px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
      }

      &::before {
        position: absolute;
        display: block;
        content: '';
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        z-index: 2;
      }
    }

    &__pin {
      position: relative;
      background-color: var(--color-primary);

      &::before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/icons/icon-pin.svg');
      }
    }

    &__delete {
      position: relative;
      background-color: var(--color-warning);

      &::before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/icons/icon-delete.svg');
      }
    }
  }

  &.setting {
    transform: translateX(64px);

    .timezone-btn {
      opacity: 1;
      visibility: visible;
    }
  }

  &-inner {
    position: relative;
    display: grid;
    grid-template:
      'local time' auto
      'footer footer' 30px / 1fr 1fr;
    gap: 10px;
    padding-top: 6px;
    background-color: var(--color-bg-timezone);
    border-radius: 16px;
    border: 4px solid var(--color-border);
    overflow: hidden;
  }

  &-footer {
    color: var(--color-secondary);
    background-color: var(--color-gray);
    padding: 0 var(--container-padding-horizontal) 0 15px;
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Poppins', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    font-weight: 700;

    p,
    span {
      margin: 0;
    }
  }

  &-data {
    &__location {
      grid-area: local;
      font-family: 'Poppins', serif;
      font-size: 28px;
      font-weight: 400;
      font-style: normal;
      font-weight: 700;
      display: flex;
      align-items: center;
      padding-left: 12px;
      padding-top: 8px;
    }

    &__time {
      grid-area: time;
      font-family: 'Lato', sans-serif;
      font-size: 58px;
      font-weight: 400;
      letter-spacing: 1px;
      font-style: normal;
      display: flex;
      justify-content: flex-end;
      padding-right: 30px;
    }

    &__meridiem {
      color: var(--color-secondary);
      position: absolute;
      font-family: 'Poppins', serif;
      font-weight: 600;
      font-style: normal;
      font-size: 11px;
      text-transform: uppercase;
      margin: 0;
      top: 17px;
      right: 6px;
    }

    &__second {
      position: absolute;
      top: 50px;
      right: 6px;
      font-family: 'Lato', sans-serif;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 0.8px;
      font-style: normal;
    }

    &__tz {
      position: relative;
      padding-right: 10px;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: -2px;
        transform: translateY(-50%);
        width: 2px;
        height: 64%;
        background-color: var(--color-division);
      }
    }

    &__week {
      position: relative;
      padding-right: 10px;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: -2px;
        transform: translateY(-50%);
        width: 2px;
        height: 64%;
        background-color: var(--color-division);
      }
    }

    &__date {
      padding-left: 10px;
    }

    &__month {
      padding-left: 2px;
    }
  }
}
