.timezone {
  color: #161614;
  width: 100%;
  margin: 0 0 10px;
  background-color: #fff;
  border: 4px solid white;
  border-radius: 16px;
  overflow: hidden;

  &-inner {
    position: relative;
    display: grid;
    grid-template:
      'local time' auto
      'footer footer' 30px / 1fr 1fr;
    gap: 10px;
    padding-top: 18px;
  }

  &__location {
    grid-area: local;
    font-family: 'Poppins', serif;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-top: 4px;
  }

  &__time {
    grid-area: time;
    font-family: 'Lato', sans-serif;
    font-size: 58px;
    font-weight: 400;
    letter-spacing: 1px;
    font-style: normal;
    display: flex;
    justify-content: flex-end;
    padding-right: 12px;
  }

  &__meridiem {
    color: #ee9d00;
    position: absolute;
    font-family: 'Poppins', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    top: 6px;
    right: 15px;
  }

  &-footer {
    color: #ee9d00;
    background-color: #f8f5eb;
    padding: 0 18px;
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Poppins', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    font-weight: 700;

    p,
    span {
      margin: 0;
    }
  }

  &__tz {
    position: relative;
    padding-right: 10px;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -2px;
      transform: translateY(-50%);
      width: 2px;
      height: 64%;
      background-color: hsla(0, 0%, 0%, 0.1);
    }
  }

  &__offset {
    padding-left: 10px;
  }

  &__week {
    position: relative;
    padding-right: 10px;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -2px;
      transform: translateY(-50%);
      width: 2px;
      height: 64%;
      background-color: hsla(0, 0%, 0%, 0.1);
    }
  }

  &__date {
    padding-left: 10px;
  }

  &__month {
    padding-left: 2px;
  }
}
